<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.bidan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION " />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2"/>

    <application
        tools:replace="android:icon"
        android:name=".application.BidanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_opensrp_logo"
        >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/BidanAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BidanHomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.KISmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize" />
        <!--<activity-->
        <!--android:name=".activity.NativeKIbuSmartRegisterActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:screenOrientation="landscape"-->
        <!--android:theme="@style/AppThemeNoActionBarAndTitle"-->
        <!--android:windowSoftInputMode="adjustResize" />-->
        <activity
            android:name=".activity.DetailMotherActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />

        <activity
            android:name=".activity.FPSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DetailFPActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />

        <activity
            android:name=".activity.PNCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DetailPNCActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />

        <activity
            android:name=".activity.ANCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DetailANCActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />

        <activity
            android:name=".activity.AnakSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DetailChildActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />

        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
        <activity android:name=".utils.CameraPreviewActivity" />
        <activity android:name=".activity.BaseRegisterActivity" />
        <activity android:name=".facial.activity.OpenCameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".facial.activity.PhotoConfirmationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"/>
        <!--<activity android:name=".utils.Camera2PreviewActivity" />-->
        <uses-library android:name="android.test.runner"/>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5bda8a6293b5b89b510a53e5d297d42bdf427e10" />
        <service android:name=".service.SyncService" />

    </application>

</manifest>
